# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Conda / venv
env/
venv/
*.conda
*.env

# Jupyter / IPython
.ipynb_checkpoints

# Data
data/
models/
checkpoints/
*.h5
*.pt
*.ckpt

# Logs
logs/
*.log

# OS files
.DS_Store